@charset "utf-8";

$link: #dd44dd;

@import "../node_modules/bulma/bulma.sass";

a {
  // border-bottom: 3px double;
  text-decoration: underline;
}

html {
  overflow-y: auto;
}

strong {
  color: unset;
}

.container.is-dark {
  background: black;
}
