/*! bulma.io v0.9.2 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */
.button, .input, .textarea, .select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top; }
  .button:focus, .input:focus, .textarea:focus, .select select:focus, .button:active, .input:active, .textarea:active, .select select:active, .is-active.button, .is-active.input, .is-active.textarea, .select select.is-active {
    outline: none; }
  .button[disabled], .input[disabled], .textarea[disabled], .select select[disabled] {
    cursor: not-allowed; }

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em; }

 .content:not(:last-child), .title:not(:last-child), .message:not(:last-child) {
  margin-bottom: 1.5rem; }

.delete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px; }
  .delete::before, .delete::after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .delete::before {
    height: 2px;
    width: 50%; }
  .delete::after {
    height: 50%;
    width: 2px; }
  .delete:hover, .delete:focus {
    background-color: rgba(10, 10, 10, 0.3); }
  .delete:active {
    background-color: rgba(10, 10, 10, 0.4); }
  .is-small.delete {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px; }
  .is-large.delete {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px; }

.button.is-loading::after, .select.is-loading::after, .control.is-loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em; }

 .modal, .modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

/* Bulma Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ul,
blockquote,
textarea,
h3,
h4 {
  margin: 0;
  padding: 0; }


h3,
h4 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img {
  height: auto;
  max-width: 100%; }

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }


footer,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #dd44dd;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    color: #363636; }

img {
  height: auto;
  max-width: 100%; }

span {
  font-style: inherit;
  font-weight: inherit; }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/* Bulma Elements */

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap; }
  .button .icon, .button .icon.is-small, .button .icon.is-large {
    height: 1.5em;
    width: 1.5em; }
  .button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.5em - 1px);
    margin-right: 0.25em; }
  .button .icon:last-child:not(:first-child) {
    margin-left: 0.25em;
    margin-right: calc(-0.5em - 1px); }
  .button .icon:first-child:last-child {
    margin-left: calc(-0.5em - 1px);
    margin-right: calc(-0.5em - 1px); }
  .button:hover {
    border-color: #b5b5b5;
    color: #363636; }
  .button:focus {
    border-color: #3273dc;
    color: #363636; }
    .button:focus:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(221, 68, 221, 0.25); }
  .button:active, .button.is-active {
    border-color: #4a4a4a;
    color: #363636; }
  .button.is-light {
    background-color: whitesmoke;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7); }
    .button.is-light:hover {
      background-color: #eeeeee;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-light:focus {
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
      .button.is-light:focus:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25); }
    .button.is-light:active, .button.is-light.is-active {
      background-color: #e8e8e8;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-light[disabled] {
      background-color: whitesmoke;
      border-color: transparent;
      box-shadow: none; }
    .button.is-light.is-loading::after {
      border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }
  .button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #fff; }
    .button.is-dark:hover {
      background-color: #2f2f2f;
      border-color: transparent;
      color: #fff; }
    .button.is-dark:focus {
      border-color: transparent;
      color: #fff; }
      .button.is-dark:focus:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25); }
    .button.is-dark:active, .button.is-dark.is-active {
      background-color: #292929;
      border-color: transparent;
      color: #fff; }
    .button.is-dark[disabled] {
      background-color: #363636;
      border-color: transparent;
      box-shadow: none; }
    .button.is-dark.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
  .button.is-info {
    background-color: #3298dc;
    border-color: transparent;
    color: #fff; }
    .button.is-info:hover {
      background-color: #2793da;
      border-color: transparent;
      color: #fff; }
    .button.is-info:focus {
      border-color: transparent;
      color: #fff; }
      .button.is-info:focus:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25); }
    .button.is-info:active, .button.is-info.is-active {
      background-color: #238cd1;
      border-color: transparent;
      color: #fff; }
    .button.is-info[disabled] {
      background-color: #3298dc;
      border-color: transparent;
      box-shadow: none; }
    .button.is-info.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-info.is-light {
      background-color: #eef6fc;
      color: #1d72aa; }
      .button.is-info.is-light:hover {
        background-color: #e3f1fa;
        border-color: transparent;
        color: #1d72aa; }
      .button.is-info.is-light:active, .button.is-info.is-light.is-active {
        background-color: #d8ebf8;
        border-color: transparent;
        color: #1d72aa; }
  .button.is-warning {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:hover {
      background-color: #ffdb4a;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:focus {
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
      .button.is-warning:focus:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25); }
    .button.is-warning:active, .button.is-warning.is-active {
      background-color: #ffd83d;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning[disabled] {
      background-color: #ffdd57;
      border-color: transparent;
      box-shadow: none; }
    .button.is-warning.is-loading::after {
      border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }
    .button.is-warning.is-light {
      background-color: #fffbeb;
      color: #947600; }
      .button.is-warning.is-light:hover {
        background-color: #fff8de;
        border-color: transparent;
        color: #947600; }
      .button.is-warning.is-light:active, .button.is-warning.is-light.is-active {
        background-color: #fff6d1;
        border-color: transparent;
        color: #947600; }
  .button.is-small {
    font-size: 0.75rem; }
    .button.is-small:not(.is-rounded) {
      border-radius: 2px; }
  .button.is-large {
    font-size: 1.5rem; }
  .button[disabled] {
    background-color: white;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: 0.5; }
  .button.is-fullwidth {
    display: flex;
    width: 100%; }
  .button.is-loading {
    color: transparent !important;
    pointer-events: none; }
    .button.is-loading::after {
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      position: absolute !important; }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
      max-width: 1152px; } }
  @media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 1344px; } }

.content p:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child) {
  margin-bottom: 1em; }


.content h3,
.content h4 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125; }

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em; }
  .content h3:not(:first-child) {
    margin-top: 1.3333em; }

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em; }

.content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em; }

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em; }
  .content ul ul {
    list-style-type: circle;
    margin-top: 0.5em; }
    .content ul ul ul {
      list-style-type: square; }

.content.is-small {
  font-size: 0.75rem; }

.content.is-large {
  font-size: 1.5rem; }

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem; }
  .icon.is-small {
    height: 1rem;
    width: 1rem; }
  .icon.is-large {
    height: 3rem;
    width: 3rem; }

.image {
  display: block;
  position: relative; }
  .image img {
    display: block;
    height: auto;
    width: 100%; }
  .image.is-fullwidth {
    width: 100%; }

@keyframes moveIndeterminate {
  from {
    background-position: 200% 0; }
  to {
    background-position: -200% 0; } }

.title {
  word-break: break-word; }
  .title em,
  .title span {
    font-weight: inherit; }

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125; }

.number {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 290486px;
  display: inline-flex;
  font-size: 1.25rem;
  height: 2em;
  justify-content: center;
  margin-right: 1.5rem;
  min-width: 2.5em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: top; }

/* Bulma Form */
.input, .textarea, .select select {
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636; }
  .input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:hover, .textarea:hover, .select select:hover {
    border-color: #b5b5b5; }
  .input:focus, .textarea:focus, .select select:focus, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
    border-color: #dd44dd;
    box-shadow: 0 0 0 0.125em rgba(221, 68, 221, 0.25); }
  .input[disabled], .textarea[disabled], .select select[disabled] {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a; }
    .input[disabled]::-moz-placeholder, .textarea[disabled]::-moz-placeholder, .select select[disabled]::-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]::-webkit-input-placeholder, .textarea[disabled]::-webkit-input-placeholder, .select select[disabled]::-webkit-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]:-moz-placeholder, .textarea[disabled]:-moz-placeholder, .select select[disabled]:-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input[disabled]:-ms-input-placeholder, .textarea[disabled]:-ms-input-placeholder, .select select[disabled]:-ms-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }

.input, .textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%; }
  .is-light.input, .is-light.textarea {
    border-color: whitesmoke; }
    .is-light.input:focus, .is-light.textarea:focus, .is-light.input:active, .is-light.textarea:active, .is-light.is-active.input, .is-light.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25); }
  .is-dark.input, .is-dark.textarea {
    border-color: #363636; }
    .is-dark.input:focus, .is-dark.textarea:focus, .is-dark.input:active, .is-dark.textarea:active, .is-dark.is-active.input, .is-dark.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25); }
  .is-info.input, .is-info.textarea {
    border-color: #3298dc; }
    .is-info.input:focus, .is-info.textarea:focus, .is-info.input:active, .is-info.textarea:active, .is-info.is-active.input, .is-info.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25); }
  .is-warning.input, .is-warning.textarea {
    border-color: #ffdd57; }
    .is-warning.input:focus, .is-warning.textarea:focus, .is-warning.input:active, .is-warning.textarea:active, .is-warning.is-active.input, .is-warning.is-active.textarea {
      box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25); }
  .is-small.input, .is-small.textarea {
    border-radius: 2px;
    font-size: 0.75rem; }
  .is-large.input, .is-large.textarea {
    font-size: 1.5rem; }
  .is-fullwidth.input, .is-fullwidth.textarea {
    display: block;
    width: 100%; }

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical; }
  .textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em; }

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top; }
  .select:not(.is-multiple) {
    height: 2.5em; }
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #dd44dd;
    right: 1.125em;
    z-index: 4; }
  .select select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none; }
    .select select::-ms-expand {
      display: none; }
    .select select[disabled]:hover {
      border-color: whitesmoke; }
    .select select:not([multiple]) {
      padding-right: 2.5em; }
    .select select[multiple] {
      height: auto;
      padding: 0; }
  .select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: #363636; }
  .select.is-light:not(:hover)::after {
    border-color: whitesmoke; }
  .select.is-light select {
    border-color: whitesmoke; }
    .select.is-light select:hover {
      border-color: #e8e8e8; }
    .select.is-light select:focus, .select.is-light select:active, .select.is-light select.is-active {
      box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25); }
  .select.is-dark:not(:hover)::after {
    border-color: #363636; }
  .select.is-dark select {
    border-color: #363636; }
    .select.is-dark select:hover {
      border-color: #292929; }
    .select.is-dark select:focus, .select.is-dark select:active, .select.is-dark select.is-active {
      box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25); }
  .select.is-info:not(:hover)::after {
    border-color: #3298dc; }
  .select.is-info select {
    border-color: #3298dc; }
    .select.is-info select:hover {
      border-color: #238cd1; }
    .select.is-info select:focus, .select.is-info select:active, .select.is-info select.is-active {
      box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25); }
  .select.is-warning:not(:hover)::after {
    border-color: #ffdd57; }
  .select.is-warning select {
    border-color: #ffdd57; }
    .select.is-warning select:hover {
      border-color: #ffd83d; }
    .select.is-warning select:focus, .select.is-warning select:active, .select.is-warning select.is-active {
      box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25); }
  .select.is-small {
    border-radius: 2px;
    font-size: 0.75rem; }
  .select.is-large {
    font-size: 1.5rem; }
  .select.is-disabled::after {
    border-color: #7a7a7a; }
  .select.is-fullwidth {
    width: 100%; }
    .select.is-fullwidth select {
      width: 100%; }
  .select.is-loading::after {
    margin-top: 0;
    position: absolute;
    right: 0.625em;
    top: 0.625em;
    transform: none; }
  .select.is-loading.is-small:after {
    font-size: 0.75rem; }
  .select.is-loading.is-large:after {
    font-size: 1.5rem; }

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700; }
  .label:not(:last-child) {
    margin-bottom: 0.5em; }
  .label.is-small {
    font-size: 0.75rem; }
  .label.is-large {
    font-size: 1.5rem; }

.field:not(:last-child) {
  margin-bottom: 0.75rem; }

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit; }
  .control.is-loading::after {
    position: absolute !important;
    right: 0.625em;
    top: 0.625em;
    z-index: 4; }
  .control.is-loading.is-small:after {
    font-size: 0.75rem; }
  .control.is-loading.is-large:after {
    font-size: 1.5rem; }

/* Bulma Components */

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative; }

.card-header:first-child, .card-content:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.card-header:last-child, .card-content:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex; }

.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem; }

.card-content {
  background-color: transparent;
  padding: 1.5rem; }

.card .media:not(:last-child) {
  margin-bottom: 1.5rem; }

.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit; }
  .media .content:not(:last-child) {
    margin-bottom: 0.75rem; }
  .media .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: flex;
    padding-top: 0.75rem; }
    .media .media .content:not(:last-child),
    .media .media .control:not(:last-child) {
      margin-bottom: 0.5rem; }
    .media .media .media {
      padding-top: 0.5rem; }
      .media .media .media + .media {
        margin-top: 0.5rem; }
  .media + .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 1rem;
    padding-top: 1rem; }
  .media.is-large + .media {
    margin-top: 1.5rem;
    padding-top: 1.5rem; }

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit; }

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: auto; } }

.menu {
  font-size: 1rem; }
  .menu.is-small {
    font-size: 0.75rem; }
  .menu.is-large {
    font-size: 1.5rem; }

.message {
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 1rem; }
  .message a:not(.button):not(.tag):not(.dropdown-item) {
    color: currentColor;
    text-decoration: underline; }
  .message.is-small {
    font-size: 0.75rem; }
  .message.is-large {
    font-size: 1.5rem; }
  .message.is-light {
    background-color: #fafafa; }
  .message.is-dark {
    background-color: #fafafa; }
  .message.is-info {
    background-color: #eef6fc; }
  .message.is-warning {
    background-color: #fffbeb; }

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40; }
  .modal.is-active {
    display: flex; }

.modal-background {
  background-color: rgba(10, 10, 10, 0.86); }

.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 769px) {
    .modal-content {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: 640px; } }

.navbar {
  background-color: white;
  min-height: 3.25rem;
  position: relative;
  z-index: 30; }
  .navbar.is-light {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7); }
    .navbar.is-light .navbar-brand > .navbar-item {
      color: rgba(0, 0, 0, 0.7); }
    .navbar.is-light .navbar-brand > a.navbar-item:focus, .navbar.is-light .navbar-brand > a.navbar-item:hover, .navbar.is-light .navbar-brand > a.navbar-item.is-active {
      background-color: #e8e8e8;
      color: rgba(0, 0, 0, 0.7); }
    .navbar.is-light .navbar-burger {
      color: rgba(0, 0, 0, 0.7); }
    @media screen and (min-width: 1024px) {
      
      .navbar.is-light .navbar-end > .navbar-item {
        color: rgba(0, 0, 0, 0.7); }
      
      .navbar.is-light .navbar-end > a.navbar-item:focus,
      .navbar.is-light .navbar-end > a.navbar-item:hover,
      .navbar.is-light .navbar-end > a.navbar-item.is-active {
        background-color: #e8e8e8;
        color: rgba(0, 0, 0, 0.7); } }
  .navbar.is-dark {
    background-color: #363636;
    color: #fff; }
    .navbar.is-dark .navbar-brand > .navbar-item {
      color: #fff; }
    .navbar.is-dark .navbar-brand > a.navbar-item:focus, .navbar.is-dark .navbar-brand > a.navbar-item:hover, .navbar.is-dark .navbar-brand > a.navbar-item.is-active {
      background-color: #292929;
      color: #fff; }
    .navbar.is-dark .navbar-burger {
      color: #fff; }
    @media screen and (min-width: 1024px) {
      
      .navbar.is-dark .navbar-end > .navbar-item {
        color: #fff; }
      
      .navbar.is-dark .navbar-end > a.navbar-item:focus,
      .navbar.is-dark .navbar-end > a.navbar-item:hover,
      .navbar.is-dark .navbar-end > a.navbar-item.is-active {
        background-color: #292929;
        color: #fff; } }
  .navbar.is-info {
    background-color: #3298dc;
    color: #fff; }
    .navbar.is-info .navbar-brand > .navbar-item {
      color: #fff; }
    .navbar.is-info .navbar-brand > a.navbar-item:focus, .navbar.is-info .navbar-brand > a.navbar-item:hover, .navbar.is-info .navbar-brand > a.navbar-item.is-active {
      background-color: #238cd1;
      color: #fff; }
    .navbar.is-info .navbar-burger {
      color: #fff; }
    @media screen and (min-width: 1024px) {
      
      .navbar.is-info .navbar-end > .navbar-item {
        color: #fff; }
      
      .navbar.is-info .navbar-end > a.navbar-item:focus,
      .navbar.is-info .navbar-end > a.navbar-item:hover,
      .navbar.is-info .navbar-end > a.navbar-item.is-active {
        background-color: #238cd1;
        color: #fff; } }
  .navbar.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7); }
    .navbar.is-warning .navbar-brand > .navbar-item {
      color: rgba(0, 0, 0, 0.7); }
    .navbar.is-warning .navbar-brand > a.navbar-item:focus, .navbar.is-warning .navbar-brand > a.navbar-item:hover, .navbar.is-warning .navbar-brand > a.navbar-item.is-active {
      background-color: #ffd83d;
      color: rgba(0, 0, 0, 0.7); }
    .navbar.is-warning .navbar-burger {
      color: rgba(0, 0, 0, 0.7); }
    @media screen and (min-width: 1024px) {
      
      .navbar.is-warning .navbar-end > .navbar-item {
        color: rgba(0, 0, 0, 0.7); }
      
      .navbar.is-warning .navbar-end > a.navbar-item:focus,
      .navbar.is-warning .navbar-end > a.navbar-item:hover,
      .navbar.is-warning .navbar-end > a.navbar-item.is-active {
        background-color: #ffd83d;
        color: rgba(0, 0, 0, 0.7); } }
  .navbar > .container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%; }
   .navbar.is-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30; }
  .navbar.is-fixed-top {
    top: 0; }

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem; }

.navbar-brand a.navbar-item:focus, .navbar-brand a.navbar-item:hover {
  background-color: transparent; }

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto; }
  .navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px; }
    .navbar-burger span:nth-child(1) {
      top: calc(50% - 6px); }
    .navbar-burger span:nth-child(2) {
      top: calc(50% - 1px); }
    .navbar-burger span:nth-child(3) {
      top: calc(50% + 4px); }
  .navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .navbar-burger.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg); }
  .navbar-burger.is-active span:nth-child(2) {
    opacity: 0; }
  .navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg); }

.navbar-menu {
  display: none; }

.navbar-item {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative; }
  .navbar-item .icon:only-child {
    margin-left: -0.25rem;
    margin-right: -0.25rem; }

a.navbar-item {
  cursor: pointer; }
  a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active {
    background-color: #fafafa;
    color: #dd44dd; }

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0; }
  .navbar-item img {
    max-height: 1.75rem; }

@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block; }
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex; }
  .navbar-menu {
    background-color: white;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0; }
    .navbar-menu.is-active {
      display: block; }
  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto; } }

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex; }
  .navbar {
    min-height: 3.25rem; }
  .navbar-burger {
    display: none; }
  .navbar-item {
    align-items: center;
    display: flex; }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0; }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto; }
  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: -0.75rem; }
  .navbar > .container .navbar-menu,
  .container > .navbar .navbar-menu {
    margin-right: -0.75rem; }
  a.navbar-item.is-active {
    color: #0a0a0a; }
  a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: transparent; } }

/* Bulma Grid */
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }
  .columns:last-child {
    margin-bottom: -0.75rem; }
  .columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem); }
  @media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
      display: flex; } }

/* Bulma Helpers */
.has-text-white {
  color: white !important; }

a.has-text-white:hover, a.has-text-white:focus {
  color: #e6e6e6 !important; }

.has-background-light {
  background-color: whitesmoke !important; }

.has-text-link {
  color: #dd44dd !important; }

a.has-text-link:hover, a.has-text-link:focus {
  color: #c925c9 !important; }

.has-background-info {
  background-color: #3298dc !important; }

.has-background-grey-lighter {
  background-color: #dbdbdb !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-1 {
  margin-right: 0.25rem !important; }

.mb-1 {
  margin-bottom: 0.25rem !important; }

.ml-1 {
  margin-left: 0.25rem !important; }

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important; }

.mt-2 {
  margin-top: 0.5rem !important; }

.mr-2 {
  margin-right: 0.5rem !important; }

.mb-2 {
  margin-bottom: 0.5rem !important; }

.ml-2 {
  margin-left: 0.5rem !important; }

.mt-3 {
  margin-top: 0.75rem !important; }

.mb-3 {
  margin-bottom: 0.75rem !important; }

.ml-3 {
  margin-left: 0.75rem !important; }

.mt-4 {
  margin-top: 1rem !important; }

.mr-4 {
  margin-right: 1rem !important; }

.mb-4 {
  margin-bottom: 1rem !important; }

.ml-4 {
  margin-left: 1rem !important; }

.mt-5 {
  margin-top: 1.5rem !important; }

.mr-5 {
  margin-right: 1.5rem !important; }

.ml-5 {
  margin-left: 1.5rem !important; }

.mt-6 {
  margin-top: 3rem !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2 {
  padding-top: 0.5rem !important; }

.pl-2 {
  padding-left: 0.5rem !important; }

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.p-3 {
  padding: 0.75rem !important; }

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important; }

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.pt-5 {
  padding-top: 1.5rem !important; }

.is-size-3 {
  font-size: 2rem !important; }

.is-size-4 {
  font-size: 1.5rem !important; }

.is-size-5 {
  font-size: 1.25rem !important; }

.has-text-centered {
  text-align: center !important; }

.is-italic {
  font-style: italic !important; }

.has-text-weight-bold {
  font-weight: 700 !important; }

@media screen and (max-width: 1023px) {
  .is-hidden-touch {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .is-hidden-desktop {
    display: none !important; } }

/* Bulma Layout */

.section {
  padding: 3rem 1.5rem; }
  @media screen and (min-width: 1024px) {
    .section.is-large {
      padding: 18rem 1.5rem; } }

.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem; }

html {
  overflow-y: auto; }

a {
  text-decoration: underline; }

.container.is-dark {
  background: black; }
