body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.cursor-url {
  cursor: pointer;
}

.has-text-decoration-underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.button.is-disabled {
  background-color: #ddd;
  pointer-events: none;
}
